body{
    width: 100%;
    overflow: hidden;
    margin: 0px;
    font-family: system-ui;
}
p{
    margin:0px;
    user-select: none;
    padding-top:10vh;
    text-align: center;
    font-size: 10vw;
    

}
#date{
    margin:0px;
    user-select: none;
    text-align: center;
    font-size: 3vw;
    color:#6f6df3;
}

.github-link{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    user-select: none;
}
#github-button{
    width:40px;
    height:40px;
    padding: 0;
    border: none;
    background: gray;
    border-radius: 5px;
}
img{
    width:40px;
    height:40px;
    border-radius: 5px;
}

.searchbar-outer{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top:5vh;
}
form{
    margin: 0 auto 1.5rem auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;


.sb{
    
    border-radius: 10px;

    
}
input{
    width:50vw;
    height:5vh;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border: none;background: rgb(220,220,220);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    
}

input:focus {
    outline: none;
}

.searchBtn{
    width:4vw;
    height:5vh;
    border: 10px solid #6f6df3;
    background: #6f6df3;
    color:white;
    
    padding: 0px;
    line-height: 0px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
